@model CropImage.Models.Image

@{
    ViewBag.Title = "Cập nhật hình ảnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="page-breadcrumb breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a href="/">Trang chủ</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="/Core/Images/Index">Danh sách hình ảnh</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li class="active">
        Danh mục hình ảnh
    </li>
</ul>
@*Bắt đầu nội dung tùy chỉnh*@
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject uppercase">Cập nhật hình ảnh</span>
        </div>
    </div>
    <div class="portlet-body" id="account_detail">
        <div class="tabbable-custom nav-justified">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab">Thông tin chi tiết</a>
                </li>
            </ul>
            <div class="tab-content" style="padding: 0;">
                <div class="tab-pane active" id="tab_1_1">
                    <div class="portlet-body form row">

                        @*@using (Html.BeginForm())*@
                        @using (Html.BeginForm("Edit", "Images", FormMethod.Post, new { id = "formDetail", @class = "form-horizontal form-bordered form-row-stripped" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <img class="mx-auto d-block" src="@Model.Uri" width="250" />
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.KieuChu, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.KieuChu, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.KieuChu, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaTrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">

                                        @Html.DropDownList("MaTrangThai", null, "---Chọn trạng thái---", new { @class = "form-control required" })
                                        @*@Html.ValidationMessageFor(model => model.MaTrangThai, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>


                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green-dark"><i class="fa fa-check"></i> Ghi nhận</button>
                                            <a href="/Core/Images/Index" class="btn default" id="cancelBtn"><i class="fa fa-refresh"></i> Quay lại</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Quay lại danh sách", "Index")
</div>
