<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Crop/css")
    @RenderSection("Styles", required: false)
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">

    @RenderBody()


    <script src="~/Theme/assets/global/plugins/jcrop/js/jquery.color.js"></script>
    <script src="~/Theme/assets/global/plugins/jcrop/js/jquery.Jcrop.min.js"></script>
    <script src="~/Theme/assets/pages/scripts/form-image-crop.js"></script>
    <script src="~/Theme/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="~/Theme/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Theme/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js"></script>
    <script src="~/Theme/assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js"></script>
    <script src="~/Theme/assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
    <script src="~/Theme/assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js"></script>
    <script src="~/Theme/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("scripts2", required: false)
</body>
</html>
