@{
    var Id = Session[CropImage.Areas.SessionEnum.AccountId];
    var Name = Session[CropImage.Areas.SessionEnum.FullName];
    var Email = Session[CropImage.Areas.SessionEnum.Email];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="không cần seo" name="description" />
   <meta content="author" name="Nguyễn Anh Dũng" />
    <title>@ViewBag.Title </title>
    <link href="~/Theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/DashBoard/css")
    @RenderSection("Styles", required: false)
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body  class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/Core/CoreHome">
                    <img src="~/Theme/adminfav.png" alt="logo" class="logo-default">
                </a>
                
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
           
            <div class="page-top">
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="separator hide"> </li>

                        <li class="dropdown dropdown-user dropdown-light">
                            @*<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" id="Login">*@
                            <a href="" class=" " data-toggle=" " data-hover=" " data-close-others=" " id="Login">
                                <span class="username username-hide-on-mobile" id="nameUser" obj="@Name"> @(Name == null ? "Đăng nhập" : Name) </span>
                                <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                            </a>

                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <li class="dropdown dropdown-extended quick-sidebar-toggler">
                            <a href="/Login/Logout">
                                <i class="icon-logout"></i>
                            </a>
                        </li>
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>

    <div class="page-container">
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>
                        Công cụ gán nhãn
                        <small> chữ viết tay Việt Nam kiểu viết tự nhiên</small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
           
            @RenderBody()

        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            @DateTime.Now.Year &copy;  
            <a target="_blank" href="http://facebook.com/alllucky1996">Nguyễn Anh Dũng</a> &nbsp;|&nbsp;
            <a title="Phòng công nghệ FSISoft" href="#" >Phòng công nghệ FSISoft</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    @Scripts.Render("~/DashBoard/jquery") 
    @RenderSection("scripts", required: false)
    @RenderSection("scripts2", required: false)
</body>
</html>
